B-LISTA-ENCADEADA
B-LISTA-ENCADEADA.o
B-PILHA
B-PILHA.o
B-FILA
B-FILA.o
A-RECURSIVIDADE-1
A-RECURSIVIDADE-1.o
A-RECURSIVIDADE-2
A-RECURSIVIDADE-2.o
A-RECURSIVIDADE-3
A-RECURSIVIDADE-3.o
A-RECURSIVIDADE-4
A-RECURSIVIDADE-4.o
C-LISTA-DUPLAMENTE-ENCADEADA
C-LISTA-DUPLAMENTE-ENCADEADA.o
